/*
 * Remove template code below
 */

@mixin cheap-pine {
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
}


@mixin cheap-pine-sans {
  font-family: cheap-pine-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
};

body {
  color: white;
  background-color: black;
}

h1 {
  @include cheap-pine;
  text-align: center;
  margin-left: 18px;
  color: white;
  font-size: 7em;
}

h2 {
  @include cheap-pine-sans;
  font-size: 4em;
  color: white;
  max-width: 768px;
  margin: auto;
}
