
<div style="text-align: center;">
  <h1>Salut, moi c'est daryl</h1>
  <h2>Développeur Javasacript Confirmé</h2>
</div>
<div>
  <p>
    Passionné du développement j'ai fait de javascript mon langage de
    prédilection. Sensible à l'UI/UX j'apprécie également le DevOps.
  </p>
</div>
<div class="apps"></div>
