/* You can add global styles to this file, and also import other style files */

body {
  background-color: black;
}

@mixin cheap-pine {
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
};

@mixin cheap-pine-sans {
  font-family: cheap-pine-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
};

@mixin cheap-pine-shadow {
  font-family: cheap-pine-shadow, sans-serif;
  font-weight: 400;
  font-style: normal;
};
